// .container{
//     width: 100% ;
//     padding: 40px ;
//     display:flex ;
//     justify-content: space-between;
//     align-items: center;
//     position:sticky;
//     top: 0;
  
// }
// .services{
//     width: auto;
//     display: flex;
//     justify-content: space-between;
//     color:
//
.c{
    color: #fc2361;
    color:rgba(0, 0, 0, 0.337);
    scale: 0.2;
    box-shadow: rgba(133, 136, 140, 0.2) 0px 7px 29px 0px;
}
