.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.book{
    >p{
        text-align: center;
        padding-right: 12px;
    }
}
.cover{
    >p{
        text-align: center; 
        padding-right: 12px;
    }
}